{% set order = tab_ctx.order %}
{% set color = tab_ctx.order_status_color_map %}

<div class="row g-3">
    <div class="col-12 col-lg-6">
        <div class="bg-light rounded-2 p-4 text-break h-100">
            <h4>Details</h4>
            <div class="row g-3">
                <div class="col">
                    <span class="d-block">Order ID</span>
                    <span class="d-block">Created at</span>
                    <span class="d-block mb-2">Status</span>
                    <span class="d-block">Shipment</span>
                    <span class="d-block mb-2">Shipment price</span>
                    <span class="d-block">Coupon</span>
                    <span class="d-block mb-2">Discount</span>
                    <span class="d-block">VAT rate</span>
                    <span class="d-block">Total price</span>
                </div>
                <div class="col">
                    <span class="d-block">{{ order.id }}</span>
                    <span class="d-block">{{ order.created_at|datetime }}</span>
                    <span class="d-block mb-2"><span class="badge {{ color.get(order.status_id, '') }}">{{ order.status.name }}</span></span>
                    <span class="d-block">{{ order.shipment_name }}</span>
                    <span class="d-block mb-2">{{ order.shipment_price|price }} {{ order.currency_code }}</span>
                    <span class="d-block">{{ order.coupon_code }}</span>
                    <span class="d-block mb-2">{{ order.discount_price|price }} {{ order.currency_code }}</span>
                    <span class="d-block">{{ order.vat_percentage }} %</span>
                    <span class="d-block">{{ order.total_price|price }} {{ order.currency_code }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="bg-light rounded-2 p-4 text-break h-100">
            <h4>Shipping</h4>
            <span class="d-block">{{ order.shipping.first_name }} {{ order.shipping.last_name }}</span>
            <span class="d-block">{{ order.shipping.address }}</span>
            <span class="d-block">{{ order.shipping.zip_code }} {{ order.shipping.city }}</span>
            {% if order.shipping.state %}<span class="d-block">{{ order.shipping.state }}</span>{% endif %}
            <span class="d-block mb-2">{{ order.shipping.country.name }}</span>
            <span class="d-block">{{ order.shipping.email }}</span>
            {% if order.shipping.phone is not none %}<span class="d-block">{{ order.shipping.phone }}</span>{% endif %}
            {% if order.shipping.company %}<span class="d-block">{{ order.shipping.company }}</span>{% endif %}
        </div>
    </div>
    <div class="col-12 col-lg-3">
        <div class="bg-light rounded-2 p-4 text-break h-100">
            <h4>Billing</h4>
            <span class="d-block">{{ order.billing.first_name }} {{ order.billing.last_name }}</span>
            <span class="d-block">{{ order.billing.address }}</span>
            <span class="d-block">{{ order.billing.zip_code }} {{ order.billing.city }}</span>
            {% if order.billing.state %}<span class="d-block">{{ order.billing.state }}</span>{% endif %}
            <span class="d-block mb-2">{{ order.billing.country.name }}</span>
            <span class="d-block">{{ order.billing.email }}</span>
            {% if order.billing.phone %}<span class="d-block">{{ order.billing.phone }}</span>{% endif %}
            {% if order.billing.company %}<span class="d-block">{{ order.billing.company }}</span>{% endif %}
            {% if order.billing.vat %}<span class="d-block">{{ order.billing.vat }}</span>{% endif %}
        </div>
    </div>
</div>
