{% from "admin/_engine/_macros.html" import field_input %}

{% for action in view.actions %}
    {% if action.fields and action.is_visible(obj) %}
        <div id="{{ action.modal_id }}" class="modal modal-lg fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <form class="modal-content"
                      method="post"
                      action="{{ url_for('admin.' ~ view.endpoint ~ '_action', id_=obj.id, name=action.name) }}">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ action.label }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row g-2">
                            {% for field in action.fields %}
                                <div class="col-12">{{ field_input(field, none, action_choices.get(action.name, {}) ) }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-{{ action.style }}"
                                type="submit"
                                {% if action.confirm %}data-confirm="{{ action.confirm }}"{% endif %}>
                            {{ action.label }}
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endfor %}
