{% macro nav_items(items) %}
    {% for item in items %}
        {% if item.is_group %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {{ 'active' if item.active }}"
                   href="#"
                   role="button"
                   data-bs-toggle="dropdown">
                    {% if item.icon %}<i class="bi {{ item.icon }} me-1"></i>{% endif %}
                    {{ item.label }}
                </a>
                <ul class="dropdown-menu ms-auto">
                    {% for child in item.items %}
                        <li>
                            <a class="dropdown-item" href="{{ url_for(child.endpoint) }}">{{ child.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link {{ 'active' if item.active }}"
                   href="{{ url_for(item.endpoint) }}">
                    {% if item.icon %}
                        <i class="bi {{ item.icon }} me-1"></i>
                    {% endif %}
                    {{ item.label }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}
