{% from "admin/_engine/_macros.html" import field_input %}
<form method="post"
      action="{{ url_for('admin.' ~ view.endpoint ~ '_tab', id_=obj.id, tab_key=tab.key) }}">
    <div class="row g-3">
        {% for field in tab_ctx.fields %}
            {% set submitted = form_values.get(field.name) %}
            <div class="{{ "col-12" if field.input_type in ("textarea", "attributes") else "col-12 col-lg-6" }}">
                {{ field_input(field, submitted if submitted is not none else field.value_from_obj(obj) , tab_ctx.choices) }}
            </div>
        {% endfor %}
    </div>
    <div class="mt-3">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>
